.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  flex: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pageButtons {
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  margin-bottom:10px;
  width: 150px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.pollList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorMessage {
  color: red;
}

.homeButtonContainer {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.homeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #f0f0f0;
}
